name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Run tests
      run: npm t
  bump:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Bump version
      run: |
        git config --global user.email 'github-actions[bot]@users.noreply.github.com' 
        git config --global user.name 'github-actions[bot]'
        npx standard-version --prerelease --skip.tag
        git checkout ${{ github.base_ref }}
        git push
